<div class="min-h-screen bg-slate-100 text-slate-800 xl:flex">
  <div>
    <app-sidebar></app-sidebar>
    <app-backdrop></app-backdrop>
  </div>
  <div
      class="flex-1 transition-all duration-300 ease-in-out"
      [ngClass]="{
        'xl:ml-[290px]': (isExpanded$ | async) || (isHovered$ | async),
        'xl:ml-[90px]': !(isExpanded$ | async) && !(isHovered$ | async),
        'ml-0': (isMobileOpen$ | async)
      }"
  >
    <!-- app header start -->
    <app-header/>
    <!-- app header end -->
    <div class="mx-auto max-w-[1600px] p-4 md:p-6">
      <app-missing-stock-notification></app-missing-stock-notification>
      <div class="space-y-5">
        <app-component-card>
          <router-outlet></router-outlet>
        </app-component-card>
      </div>
    </div>
  </div>
</div>
