<div>
  <app-page-breadcrumb pageTitle="Blank Page" />
  <app-component-card title="Card Title Here" desc="Start putting content on grids or panels. You can also use different combinations of grids.">
    <div class="mx-auto w-full max-w-[630px] text-center">
      <p class="text-sm text-gray-500 dark:text-gray-400 sm:text-base">
        Start putting content on grids or panels, you can also use different
        combinations of grids. Please check out the dashboard and other pages.
      </p>
    </div>
  </app-component-card>
</div>